{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
	<h1 class="name__list">Кто мы?</h1>
	<div class="content__home">
		<ul>
			<il>
				<p>Мы умеем рисовать на высоком уровне и с радостью поделимся этими знаниямию. Наши художники имеют
					опыт работы с аудиторией более 5 лет и рисуют:
					<p class="vid_mk"> - акрилом</p>
					<p class="vid_mk"> - акрилом-поталью</p>
					<p class="vid_mk"> - вином</p>
					<p class="vid_mk"> - мороженым</p>
				<p>Мы собираемся в кофейнях твоего города и в уютной приятной аРтмосфере "творим" искуство.
					Художники работают в разных районах, а значит добраться до нас не составит никакого труда.
					Мы предоставим вам кисти, краски и холсты. Уважающие себя художники используют только качественные
					материалы - краски со временем не блекнут, а холсты не требуют никаких дополнений - сразу на стену!!!
					Наше комфортное место работы = ваше комфортное место отдыха. Во время наших местер-классов
					своих гостей мы угощаем чаем/кофе/лимонадом на ваш выбор.</p>
				<p>А теперь давайте устроимся поудобнее, возьмём кисти и приступим...</p>
			</il>
		</ul>
	</div>
</div>
{% endblock %}