{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
    <h1 class="name__list">{{ head }}</h1>
    <div class="content__home">
        <ul>
            <il>
                <p>Инстаграм: <a href="https://www.instagram.com/artmosfera_minsk/">artmosfera.minsk</a></p>
                <p>Telegram группа: <a href="https://t.me/artmosfera_minsk">artmosfera.minsk</a></p>
                <p>Telegram бот: <a href="https://t.me/artmosfera_bot">artmosfera.bot</a></p>
                <p>WhatsApp: +375(25)706-65-03</p>
                <p>Viber: +375(25)706-65-03</p>
            </il>
        </ul>
    </div>
</div>
{% endblock %}