{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
    <h1 class="name__list">{{ head }}</h1>
    <div class="content__home">
        <ul>
            <il>
                <p>День рождение компании и работать совсем не хочется, проведем МК в рабочее время!!!</p>
                <p>Собираетесь с друзьями в загородном доме, а там кроме шашлыков и бадминтона нет развлечений, проведем выездной МК</p>
                <p>Видитесь с коллегами только на работе, не беда. Наш МК - отличный повод собраться и отдохнуть от босса</p>
                <h3>Был бы повод, кисти и краски мы уже подготовили!</h3>
                <p>Мы с радостью организуем для вас проведение досуга на вашей или нашей территории.
                Учтем все ваши пожелания, цена будет зависеть от вида услуги и количества гостей. Мероприятия
                от 20-ти человек сопровождаются профессиональным фотографом СОВЕРШЕННО БЕСПЛАТНО.</p>
            </il>
        </ul>
    </div>
</div>
{% endblock %}