{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
    <h1 class="name__list">Давай рисовать вместе</h1>
    <div class="content__home">
        <ul>
            <il>
                <p>ИЩЕТЕ ЧТО-ТО НЕОБЫЧНОЕ И ВЕСЕЛОЕ?
                <p>Спорим, вы сможете меньше  чем за 3 часа  нарисовать великолепную картину сами, даже если никогда в жизни не брали кисть в руки.</p>
                <p>АртМосфера - проект  где вы можете почувствовать себя настоящим художником, незабываемо провести время в антуражных уютных заведениях города и встретить интересных людей!</p>
                <p>Мы предоставляем все необходимое (холсты, краски, кисти, и т.д.). Свое творение вы оставляете себе на память!</p>
                <p>Почему именно мы?</p>
                <ul>
                    Только мы проводим мастер-классы для детей и совместные мк родитель&ребёнок в кафе города.<br>
                    <br>Приятная цена и удобное время занятий.<br>
                    <br>Профессиональные педагоги.<br>
                    <br>Коллектив, состоящий из людей, которые влюблены в искусство и умеют передать это чувство вам, нашим гостям.<br>
                    <br>Индивидуальный подход.<br>
                    <br>На взрослых мк вы всегда выбираете понравившейся референс (в нашей галерее широкий ассортимент картин).<br>
                </ul>
                <p>Записывайтесь и приходите творить!</p>

            </il>
        </ul>
    </div>
</div>
{% endblock %}
