{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
    <h1 class="name__list">{{ head }}</h1>
    <div class="content__home">
        <ul>
            <il>
                <h4>Данный договор можно скачать по <a href="https://docs.google.com/document/d/1gmPD8e_Xyfhu-1JzgzE2yZB0QGT-zTeHsSMxieJqvY8/edit?usp=sharing">этой</a> ссылке</h4>
                <p>
<br><br>                    ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ
<br><br>ПУБЛИЧНЫЙ ДОГОВОР проведения мастер-класса по написанию картины
<br><br>Настоящий Публичный договор на проведения мастер-класса по написанию картины (далее - Договор) определяет порядок проведения мастер-класса, а также взаимные права, обязанности и порядок взаимоотношений между индивидуальным предпринимателем Лях А.С., именуемым в дальнейшем Исполнитель и юридическим лицом резидентом Республики Беларусь, именуемым в дальнейшем «Заказчик», принявшим (акцептовавшим) публичное предложение (оферту) о заключении настоящего Договора, совместно именуемые «Стороны».
<br><br>1. ПРЕДМЕТ ДОГОВОРА
<br><br>1.1. Исполнитель обязуется оказать Заказчику услугу по проведению мастер-класса (далее - услугу), предоставить холст, краски, и другие принадлежности для написания картины по запросу Заказчика, поданному через социальные сети инстаграм/телеграмм Исполнителя, предоставить полную и достоверную информацию о проведении мастер-класса, а Заказчик обязуется принять услуги, оказанные Исполнителем, и оплатить их в порядке и на условиях, определенных настоящим договором.
<br><br>1.2. Оказываемые в рамках настоящего договора услуги включают устные консультацию художника по написанию картины Заказчиком, и предоставление всех необходимых материалов, указанных в п.1.1. договора, передача картины, написанной Заказчиком.
<br><br>1.3. Исполнитель самостоятельно определяет формы, способы и методы оказания услуг, в том числе, при необходимости привлекает третьих лиц для исполнения своих обязательств по настоящему договору.
<br><br>1.4. Перечень услуг, которые должны быть оказаны в рамках настоящего договора, период предоставления услуг и иные условия, определяющие порядок оказания услуг, а также другая информация, являющаяся существенной для оказания услуг, указываются в счете-фактуре, выставляемой Исполнителем для оплаты Заказчиком.
<br><br>2. ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА
<br><br>2.1. Настоящий договор является публичным договором, в соответствии с которым Исполнитель принимает на себя обязательство по оказанию Услуг в отношении неопределенного круга лиц (Заказчиков), обратившихся за указанными Услугами. Исполнитель не вправе оказывать предпочтение одному лицу перед другим в отношении заключения настоящего договора, кроме случаев, предусмотренных законодательством.
<br><br>2.2. Размещение настоящего договора в социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/ является публичным предложением (офертой) Исполнителя заключить настоящий договор, адресованный неопределенному кругу лиц (п. 2. ст. 407 Гражданского кодекса Республики Беларусь).
<br><br>2.3. Заключение договора происходит посредством присоединения Заказчика к предложенному договору, то есть посредством принятия (акцепта) Заказчиком условий настоящего договора в целом, без каких-либо условий, изъятий и оговорок (ст. 398 Гражданского кодекса Республики Беларусь).
<br><br>2.4. Фактом принятия (акцепта) Заказчиком условий настоящего договора является оплата Заказчиком заказанных им услуг в порядке и на условиях, определенных настоящим договором.
<br><br>2.5. Настоящий договор, при условии соблюдения порядка его принятия (акцепта), считается заключенным в простой письменной форме (п.2, п.З ст. 404 и п.З ст.408 Гражданского кодекса Республики Беларусь).
<br><br>2.6. Ознакомившись с прейскурантом Исполнителя и текстом настоящего Договора, размещаемых в социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/, Заказчик формирует электронную заявку (далее - заявка) в директ инстаграм Исполнителя по : https://www.instagram.com/artmosfera.minsk/. В Заявке в обязательном порядке должны быть указаны:
<br><br>2.6.1. сведения, идентифицирующие Заказчика;
<br><br>2.6.2. контактный номер телефона Заказчика;
<br><br>2.6.3. образец картины из галереи Исполнителя в случае проведения мастер-класса на свободную тему;
<br><br>2.6.3. другая информация, необходимая для оказания услуги.
<br><br>2.7. На основании полученной заявки Исполнитель направляет Заказчику счет-фактуру на оплату выбранной Услуги в электронном виде (в том числе по факсу).
<br><br>2.8. Исполнитель имеет право в любой момент изменять прейскурант и условия настоящего договора в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий в социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/ не менее чем за 3 (три) календарных дня до их ввода в действие.
<br><br>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН
<br><br>3.1. Заказчик обязуется:
<br><br>3.1.1. предоставлять Исполнителю все необходимые документы и всю информацию, необходимую для оказания услуг.
<br><br>3.1.1. надлежащим образом оплатить услуги Исполнителя в соответствии с условиями п. 4. настоящего договора.
<br><br>3.2. Исполнитель обязуется:
<br><br>3.2.1. оказать Заказчику услуги в объеме и в сроки, установленные настоящим договором.
<br><br>3.2.2. информировать Заказчика о действиях, которые должны быть предприняты Сторонами.
<br><br>3.2.3. Исполнитель обязуется соблюдать конфиденциальность в отношении полученной информации.
<br><br>3.3. Исполнитель вправе привлекать третьих лиц для исполнения своих обязательств по настоящему договору.
<br><br>4. СТОИМОСТЬ УСЛУГ, СКИДКИ И ПОРЯДОК ОПЛАТЫ
<br><br>4.1. Стоимость услуг, оказываемых Исполнителем в рамках настоящего Договора, определяется в соответствии с утвержденным Исполнителем прейскурантом, размещенным в социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/, действующему непосредственно на дату заключения настоящего Договора.
<br><br>4.2. Оказание услуг Исполнителем в рамках настоящего договора осуществляется на условиях 100% (стопроцентной) предоплаты Заказчиком стоимости оказываемых услуг.
<br><br>4.3. Заказчик производит оплату стоимости услуг Исполнителя путем безналичного банковского перевода денежных средств на расчетный счет Исполнителя на основании счета-фактуры на оплату выбранной услуги, направленных Исполнителем Заказчику в электронном виде в соответствии п. 2.7. настоящего Договора.
<br><br>5. ПРИЕМКА ОКАЗАННЫХ УСЛУГ
<br><br>5.1. Основанием, подтверждающим факт оказания услуг и их объема, является передача картины Заказчику. Критериями завершенности картины являются:
<br><br>5.1.1. холст на 100% покрыт краской;
<br><br>5.1.2. сюжет картины Заказчика совпадает с сюжетом на образце;
<br><br>5.1.3. прорисованы детали, присутствующие на образце.
<br><br>5.2. При наличии претензий Заказчик обязуется направить их в адрес Исполнителя письменно в течение трех календарных дней с момента получения картины по средствам директа социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/.
<br><br>5.3. Заказчик безоговорочно соглашается с тем, что если он в течение трех календарных дней с момента получения картины не заявит каких-либо письменных претензий по оказанным Исполнителем Услугам, то это будет рассматриваться как однозначное согласие Заказчика с тем, что услуги оказаны Исполнителем своевременно, в полном объеме и надлежащим образом.
<br><br>6. ОТВЕТСТВЕННОСТЬ СТОРОН
<br><br>6.1. За неисполнение или ненадлежащее исполнение своих обязательств по настоящему договору Стороны несут ответственность в соответствии с законодательством Республики Беларусь.
<br><br>6.2. По всем видам сделки, совершенным Заказчиком с третьими лицами, ответственность несет Заказчик, даже если Исполнитель и был назван в сделке или вступил с третьим лицом в непосредственные отношения по исполнению сделки.
<br><br>7. ДЕЙСТВИЕ НЕПРЕОДОЛИМОЙ СИЛЫ (ФОРС-МАЖОР)
<br><br>7.1. Стороны освобождаются от ответственности за частичное или полное неисполнение своих обязательств по договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения договора, то есть чрезвычайных и непредотвратимых при данных условиях. В этом случае установленные сроки по выполнению обязательств, указанные в договоре, переносятся на срок, в течение которого действуют возникшие обстоятельства.
<br><br>7.2. Сторона, подвергшаяся действию непреодолимой силы или существенного изменения обстоятельств, обязана известить в письменной форме другую Сторону о наступлении и прекращении вышеуказанных обстоятельств не позднее 5 (Пяти) календарных дней с момента их наступления электронным письмом в директ инстаграм.
<br><br>7.3. Если обстоятельства непреодолимой силы действуют на протяжении 2 (Двух) последовательных недель и не обнаруживают признаков прекращения, договор может быть расторгнут Заказчиком и/или Исполнителем путем направления уведомления другой стороне.
<br><br>В случае расторжения договора в связи с возникновением обстоятельств непреодолимой силы, Исполнитель возвращает Заказчику полученные денежные средства за минусом фактически понесенных Исполнителем расходов в течение 30 (тридцати) календарных дней.
<br><br>7.4. Надлежащим доказательством наличия обстоятельств непреодолимой силы и их продолжительности будут служить свидетельства и/или официальные подтверждения соответствующих компетентных государственных органов.
<br><br>8. ПОРЯДОК ВНЕСЕНИЯ ИЗМЕНЕНИЙ И ДОПОЛНЕНИЙ В ДОГОВОР, РАЗРЕШЕНИЕ СПОРОВ
<br><br>8.1. Изменения и/или дополнения в настоящий договор вносятся в одностороннем порядке по решению Исполнителя и вступают в силу в соответствии с п. 2.8. договора.
<br><br>8.2. Изменения и/или дополнения, вносимые Исполнителем в настоящий договор в связи с изменением законодательства, вступают в силу одновременно со вступлением в силу изменений в данных актах законодательства.
<br><br>8.3. Текст изменений и/или дополнений настоящего договора либо его новая редакция доводится Исполнителем до всеобщего сведения посредством размещения соответствующей информации в социальной сети инстаграм Исполнителя по адресу: https://www.instagram.com/artmosfera.minsk/
<br><br>8.4. Стороны безоговорочно соглашаются с тем, что молчание (отсутствие письменных уведомлений о расторжении настоящего договора либо о несогласии с отдельными положениями настоящего договора, в том числе с изменением прейскуранта Исполнителя) признается согласием и присоединением Заказчика к новой редакции настоящего договора (ст. 159 Гражданского Кодекса Республики Беларусь).
<br><br>8.5. Все споры и разногласия, которые могут возникнуть в связи с настоящим договором, будут разрешаться путем переговоров между Сторонами, споры и разногласия, по которым Стороны не достигнут договоренности, подлежат разрешению в соответствии с законодательством Республики Беларусь.
<br><br>9. СРОК ДЕЙСТВИЯ, ПОРЯДОК РАСТОРЖЕНИЯ ДОГОВОРА
<br><br>9.1. Настоящий Договор действует с момента его заключения, в порядке предусмотренном п. 2 настоящего Договора, до полного выполнения Сторонами своих обязательств по Договору.
<br><br>9.2. Договор может быть расторгнут по соглашению Сторон, а также по основаниям, предусмотренным действующим законодательством Республики Беларусь и настоящим Договором.
<br><br>10. ПРОЧИЕ УСЛОВИЯ
<br><br>10.1. Местом заключения настоящего Договора является адрес нахождения Исполнителя.
<br><br>10.2. Заключая настоящий Договор, Заказчик тем самым заявляет, что:
<br><br>10.2.1. информация, которую он предоставляет в Заявке на оказание Услуг, является полной, достоверной и точной.
<br><br>10.2.2. осознает и соглашается, что информация, предоставленная им в Заявке на оказание Услуг, может быть доступна для третьих лиц в силу требований законодательства Республики Беларусь.
<br><br>10.2.3. в случае если какое-либо из условий настоящего Договора потеряет юридическую силу, будет признано незаконным или будет исключено из настоящего Договора, то это не влечет недействительность остальных условий настоящего Договора.
<br><br>10.3. Стороны договариваются, что безоговорочно признают юридическую силу текстов документов, полученных по каналам факсимильной связи и электронной почты наравне с документами, исполненными в простой письменной форме на бумажном носителе, за исключением случаев, когда оформление документов на бумажном носителе является обязательным в силу требований Договора.
<br><br>10.4. Вся переписка, извещения и уведомления, полученные по факсимильной связи и на адреса электронной почты, указанные в настоящем Договоре в качестве реквизитов сторон, считаются доставленными адресату в надлежащей форме.
<br><br>10.5. Взаимоотношения Сторон, не урегулированные настоящим Договором, регламентируются действующим законодательством Республики Беларусь.
<br><br>11. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ
<br><br>Исполнитель
<br><br>Наименование: индивидуальный предприниматель Лях А.С.
<br><br>Место нахождения (юридический адрес): Республика Беларусь, Минская обл., Молодечненский район д. Рагозы, ул. Пригородная, 22
<br><br>Тел.: +375 (33) 6540397 (МТС)
<br><br>?Банковские реквизиты: р/с BY64 AKBB 3013 0000 4224 4000 0000, БИК ?AKBBBY2X, ЦБУ №510
<br><br>?УНП 692257685  ОКПО 749986466000
                </p>
                <h4>Данный договор можно скачать по <a href="https://docs.google.com/document/d/1gmPD8e_Xyfhu-1JzgzE2yZB0QGT-zTeHsSMxieJqvY8/edit?usp=sharing">этой</a> ссылке</h4>
            </il>
        </ul>
    </div>
</div>

{% endblock %}
