{% extends 'picture/base.html' %}

{% block content %}
<div class="preview">
    <h1 class="name__list">{{ head }}</h1>
    <div class="content__home">
        <ul> Наши партнеры:<br><br>
            <il>
                <div class="partners_st">
                    <a href="https://www.instagram.com/took_coffee/">TOOK coffee</a><br><br>
                    <a href="https://www.instagram.com/moon_coffee_minsk/">MOON coffee</a><br><br>
                    <a href="https://www.instagram.com/9x9.coffee/">9х9 coffee</a><br><br>
                    <a href="https://www.instagram.com/cups.coffee.bar/">Cups coffee</a><br><br>
                    <a href="https://www.instagram.com/upryhozhana.icecream/">Замарожана-упрыгожана</a><br><br>
                </div>
            </il>
            Мы всегда готовы рассмотреть Ваши предложения по взаимовыгодному сотрудничеству, просто напишите нам!
        </ul>
    </div>
</div>

{% endblock %}