{% extends 'picture/base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" src={% static "picture/js/timer.js" %}></script>
<div class="preview">
    <div class="content__home">
        <div class="redirect__st">
            <p>
                Регистрация прошла успешна, через <span id="timer">7</span> секунд вы будете перенапрвленны на главную страницу.<br><br>
                Если этого не произошло, кликни на <a href="{% url 'home' %}">эту</a>  ссылку.
            </p>
        </div>
        <div class="redirect__st2">
            <p>

            </p>
        </div>

    </div>
</div>


{% endblock %}